<textarea cols="200" rows="8" scrolling="no">
/*Maksymilian Dulęba*/
body
{
    background-color: rgb(192, 192, 192);
}
p
{
    color:rgb(255, 0, 0);
    font-size: 20mm;
}
p:lang(pl)
{
    color:rgb(255, 215, 0);
    font-size: 27mm;
}
p:lang(en)
{
    color:rgb(255, 255, 0);
    font-size: 34mm;
}