/* Maksymilian Dulęba
 hover: pseudo klasa która zmienia styl elementu po najechaniu na niego myszką */
div 
{
    width: 606px;
    background-color: #00ff00;
    font-size: 20mm;
}
#blok1_duleba:hover
{
    background-color:#0000ff;
}
#blok2_duleba:hover
{
    background-color:#c0c0c0;
}
#blok3_duleba:hover
{
    background-color:#90ee90;
}